name: First Workflow
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print greeting
        run: |
            echo "hello World 01!"
            echo "Hello World 02!"
      - name: Print goodbye
        run: echo "Done - bye"
